/* Colors and font styles */
/* * {border: 1px red solid;} */
body {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
}

.body-content {
    display: flex;
    flex-flow: column nowrap;
}

header, .hero, footer {
    background-color: #1F2937;
    color: #e5e7eb;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 150px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

navigation {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}
  
navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    gap: 20px;
}

navigation li {
    display: flex;
    flex-flow: row nowrap;
    flex-shrink: 0;
}

.hero {
    display: flex;
    justify-content: flex-start;
    padding: 50px 150px 90px;
}

.hero-text {
    display: flex;
    flex-flow: column nowrap;
    margin: 30px 0;
    flex: 1 1 auto;
    justify-content: flex-start;
    align-items: flex-start;
}

.hero a {
    display: flex;
    width: 40%;
    flex: 1 0 auto;
    margin: 10px 0;
    background-color: #6f7a90;
}

.hero h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0 0 10px 0;
    padding: 0;
}

.hero p {
    font-size: 18px;
    color: #e5e7eb;
    margin: 0 50px 12px 0;
}

#sign-up {
    border-radius: 6px;
    height: 2.5em;
    width: 100px;
    font-weight:  bolder;
    border: 0;
    background: none;
    box-shadow: none;
}

.information {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 30px 150px 90px;
}

.information .container {
    display: flex;
    flex-flow: row wrap;
    gap: 50px;
}

.information h2 {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    padding: 0 0 10px;
}

.info {
    width: 150px;
    display: flex;
    flex-flow: column nowrap;
    flex: 1 1 auto;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    text-align: center;
    
}

.information a {
    height: 150px;
    width: 150px;    
    border: 2px solid #3882f6;
    border-radius: 12px;
}



.quote {
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;    
}

.action, #sign-up {
    background-color: #3882f6;
    color: #e5e7eb;
}

.action h2 {
    font-weight: bold;
    color: #F9FAF8;
}

